<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand navbar-dark bg-dark" href="./index.html">NERKS.</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./locations.html">LOCATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./buildings.html">BUILDINGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./rooms.html">ROOMS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./creators.html">CREATORS</a>
              </li>    
              <li class="nav-item">
                <a class="nav-link" href="./data.html">TECHNICAL DATA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">CONTACT</a>
              </li>                      
          </ul>

        </div>
      </nav>

      

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BUILDING 1
                        </a>
                      </nav>
                      <div class="card">
                        <div class="card-body">
       
                        </div>
                        <img src="/static/Dahlem_Schweinfurthstraße.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BUILDING 2
                        </a>
                      </nav>                    
                      <div class="card">
                        <div class="card-body">
                        </div>
                        <img src="/static/WhatsApp Image 2020-07-24 at 6.04.38 AM.jpeg" class="card-img-top" alt="...">
                      </div>
                </div>
              </div>  
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BUILDING 3
                        </a>
                      </nav>
                      <div class="card">
                        <div class="card-body">
                        </div>
                        <img src="/static/WhatsApp Image 2020-07-23 at 5.20.18 PM.jpeg" class="card-img-top" alt="...">
                      </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BUILDING 4
                        </a>
                      </nav>                    
                      <div class="card">
                        <div class="card-body">
                        </div>
                        <img src="/static/header-keithstrasse.jpg" class="card-img-top" alt="...">
                      </div>
                </div>
              </div>  
          </div>
        </div>
      </div>
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BUILDING 5
                        </a>
                      </nav>
                      <div class="card">
                        <div class="card-body">
       
                        </div>
                        <img src="/static/nilesh_building (1).JPG" class="card-img-top" alt="...">
                      </div>                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BE THE NEXT CONTRIBUTOR
                        </a>
                      </nav>                    
                      <div class="card">
                        
                        <div class="card-body">
                          <h5 class="card-title">GET IN TOUCH WITH THE TEAM</h5>
                          <p class="card-text">At KERNS we are continously trying to add to our database information regarding different construction types. Get in touch with our team to contribute to the further development of this program.</p>
                          <a href="contact.html" class="btn btn-primary">BE A CONTRIBUTOR</a>
                        </div>
              </div>  
          </div>
        </div>
      </div>
    




  </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>