<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/showtime">
                      
        <div class="form-group">
          <label for="exampleInputEmail1">SHOWTIME</label>
          <input name = "ws" type="text">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
          <input type="submit" >
        </form>
</body>
</html>