<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand navbar-dark bg-dark" href="./index.html">NERKS.</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">HOME</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./locations.html">LOCATIONS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./buildings.html">BUILDINGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./rooms.html">ROOMS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./creators.html">CREATORS</a>
              </li>    
              <li class="nav-item">
                <a class="nav-link" href="./data.html">TECHNICAL DATA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">CONTACT</a>
              </li>                      
          </ul>

        </div>
      </nav>

      

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          LOCATION 1
                        </a>
                      </nav>
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2430.7266273530863!2d13.29441511577335!3d52.465978179804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85a76606a8e03%3A0x453f84ad3f5b70e1!2sSchweinfurthstra%C3%9Fe%2043%2C%2014195%20Berlin!5e0!3m2!1sen!2sde!4v1595406594867!5m2!1sen!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          LOCATION 2
                        </a>
                      </nav>                    
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.6583493493895!2d77.98141041496532!3d30.332234381778576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092a7a5cac8d43%3A0x678be7d10a379318!2sEkta%20Vihar%20St%2C%20Panditwari%2C%20Dehradun%2C%20Uttarakhand%20248007!5e0!3m2!1sen!2sin!4v1595516471346!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
              </div>  
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          LOCATION 3
                        </a>
                      </nav>
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4865.048228716171!2d13.363323999999997!3d52.43341989999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a85acb589d797d%3A0x702debf26133442b!2sWohnheim%20Halbauer%20Weg!5e0!3m2!1sen!2sde!4v1595516773984!5m2!1sen!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          LOCATION 4
                        </a>
                      </nav>                    
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.5550381519392!2d13.47579891563368!3d52.52339124373061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e8f538530fd%3A0x7b7a11eee0f3952e!2sAlfred-Jung-Stra%C3%9Fe%2012%2C%2010369%20Berlin!5e0!3m2!1sen!2sde!4v1595524485259!5m2!1sen!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                      </div>
                </div>
              </div>  
          </div>
        </div>
      </div>
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          LOCATION 5
                        </a>
                      </nav>
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.8045770779013!2d80.11777071534694!3d13.048107790805647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5261c0ad07e0e7%3A0xe58d4f93c7a1b22f!2sJamals%20luxor%20apartments!5e0!3m2!1sen!2sae!4v1595567383702!5m2!1sen!2sae" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                          <img src="/static/map_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                          BE THE NEXT CONTRIBUTOR
                        </a>
                      </nav>                    
                      <div class="card">
                        
                        <div class="card-body">
                          <h5 class="card-title">GET IN TOUCH WITH THE TEAM</h5>
                          <p class="card-text">At KERNS we are continously trying to add to our database information regarding different construction types. Get in touch with our team to contribute to the further development of this program.</p>
                          <a href="contact.html" class="btn btn-primary">BE A CONTRIBUTOR</a>
                        </div>
              </div>  
          </div>
        </div>
      </div>


    





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>