<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <style>
        #mapid {
             height: 90vh;
             }
    </style>
</head>
<body>


    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="/static/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          NERKS.
        </a>
      </nav>

    
      
      <div class="card mb-3" style="max-width: 100vw;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="card bg-light" style="height: 0vmax;">
                <div class="card-body">
                  <div class="alert alert-primary" role="alert">
                    Step 1 : Click on the markers to check the available weather stations.
                  </div>
                  <div class="alert alert-primary" role="alert">
                    Step 2 : Select the closest weather station to your location.
                  </div>
                  <div class="alert alert-primary" role="alert">
                    Step 3 : Click on submit!
                  </div>
                  <div class="alert alert-danger" role="alert">
                    NOTE : Please enter the exact name of the weather station in the form. For convinience, copy the name from the map and paste it in the field.
                  </div>
                  <div class="alert alert-danger" role="alert">
                    NOTE : If you do not find a weather station close to your location, please come back at a later point of time and check again. At NERKS, we try to add the data from more weather stations perpetually.
                  </div>

                    <form action="/input2">
                      
                      <div class="form-group">
                        <label for="exampleInputEmail1">CLOSEST WEATHER STATION</label>
                        <input name = "ws" type="text">
                        <small id="emailHelp" class="form-text text-muted">Enter the closest weather station from map.</small>
                      </div>
                        <input type="submit" >
                      </form>
                </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="mapid"></div>
                </div>
            </div>
          </div>
        </div>
      </div>  


    
    
    <script>
        const mymap = L.map('mapid').setView([52.5200, 13.4050], 2);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoicmh0bW5uIiwiYSI6ImNrZDFmeXBoejEzNmMyd291MGtoeXh6ODQifQ.2DEj5EW9Yu0-SCuqWPEHeg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);


        L.marker([40.781582, -73.965669]).addTo(mymap)
        .bindPopup('New York, USA')
        .openPopup();

        L.marker([-34.606862, -58.436079]).addTo(mymap)
        .bindPopup('Buenos Aires, Argentina')
        .openPopup();

        L.marker([-22.957353, 144.212862]).addTo(mymap)
        .bindPopup('Queensland, Australia')
        .openPopup();

        L.marker([30.035849, 31.232603]).addTo(mymap)
        .bindPopup('Cairo, Egypt')
        .openPopup();

        L.marker([30.319553, 78.03945]).addTo(mymap)
        .bindPopup('Dehradun, India')
        .openPopup();

        L.marker([13.075483, 80.280607]).addTo(mymap)
        .bindPopup('Chennai, India')
        .openPopup();

        L.marker([52.5200, 13.4050]).addTo(mymap)
        .bindPopup('Berlin, Germany')
        .openPopup();
        
        
    </script>
    
    

    
    
    
</body>
</html>